node_modules
dist

# Environment variables
.env
.env.*
!.env.example

# Supabase
.branches
.temp

# OS files
.DS_Store

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
